<li class="list-group-item">
  <div class="answer-attr">
    <h4 class="answer-author">{{answer.author}}:</h4>{{answer.answer}}
  </div>
  <div class="vote-wrapper">
     {{answer.votes}}
    <button class="btn btn-default btn-xs upvote" {{action 'upvote' answer}}><span class="glyphicon glyphicon-arrow-up"></span></button>
  </div>
</li>
