<div class="main-content">
  {{#if favorites.markedFavorites}}
  <h2>Favorites</h2>
  <ul class="list-group">
      {{#each favorites.markedFavorites as |question|}}
        <li class="list-group-item">
          <div class="question-display-wrapper">
            <p class="question-display">{{#link-to 'question' question.id}} {{question.question}}{{/link-to}}</p>
          </div>

          <p class="author-display">- Pondered by {{question.author}}</p>
          {{question-answered question}}
        </li>
      {{/each}}
    </ul>
  {{else}}
    <h4>There are currently no pinned questions.</h4>
  {{/if}}
</div>
