<li class="list-group-item">
    <p class="question-display">{{#link-to 'question' question.id}} {{question.question}}{{/link-to}}</p>
    <p class="author-display">- Pondered by {{question.author}} {{question.date}}</p>
    {{questionAnswered question}}
</li>
