<div class="jumbotron jumbotron-fluid">
  <h4>{{question.author}} asked:</h4>
  <h3>Q: {{question.question}}?</h3>
  <h5>Notes: {{question.notes}}</h5>
  <hr>
  <button {{action 'delete' question}} class="btn btn-danger btn-sm">
    <span class="glyphicon glyphicon-trash"></span> Delete
  </button>
</div>
