<li class="list-group-item">
  Q: {{question.question}} - submitted by {{question.author}}
  <button class="btn btn-danger btn-xs">
    <span class="glyphicon glyphicon-trash"></span> Delete
  </button>
</li>
