<li class="list-group-item">
  <h4>Q: {{question.question}} - submitted by {{question.author}}
    {{edit-question question=question edit="edit"}}
  <button {{action 'delete' question}} class="btn btn-danger btn-sm">
    <span class="glyphicon glyphicon-trash"></span> Delete
  </button></h4>
</li>
