body {
  background-color: #FF6542;
}

.main-content {
  margin-bottom: 25px;
  margin-right: 20%;
  margin-left: 20%;
}

div.container {
  width: 95%;
  margin-bottom: 40px;
}

.footer {
   position: fixed;
   left: 0px;
   bottom: 0px;
   height: 40px;
   width: 100%;
   background: #333333;
}

#footer-text {
  color: #ffffff;
  text-align: center;
  padding-top: 9px;
}

button {
  display: inline-block;
  width: 80px;
  margin: 1px;

}

button.ask {
  width: auto;
}

button.navbar-toggle {
  width: auto;
}

.container .jumbotron {
  text-align: center;
  margin-bottom: 20px;
  border-radius: 0px;
  background-color: #FFFFFF;
}

.list-group-item {
  text-align: center;
  border: none;
}

.list-group-item:last-child {
  margin-bottom: 15px;
}

#edit-prompt {
  font-size: 14px;
  color: lightgray;
  margin: 10px;
}
