/* ------------------------------ Body Styles ------------------------------- */

@font-face {
  font-family: 'brand';
  src: url('./fonts/DJB_On_the_Spot.ttf');
}

@font-face {
  font-family: 'quote';
  src: url('./fonts/neoteric.ttf')
}

body {
  background-image: url("shattered.png");
}

.main-content {
  margin-bottom: 25px;
  margin-right: 20%;
  margin-left: 20%;
}

div.container {
  margin-bottom: 40px;
}

a {
 color: #F0AD4E;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #F05C4E;

}

/* ------------------------------ Navbar Styles ------------------------------ */

#brand a {
  text-decoration: none;
  font-size: 25px;
  font-family: 'brand', sans-serif;
  color: #F0AD4E;
}

/* ---------------------------- Jumbotron Styles ----------------------------- */
.quote {
  font-family: 'quote', sans-serif;
  font-weight: bold;
}

.container .jumbotron {
  text-align: center;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  /*background-color: #F2F2F2;*/
}

/* ------------------------------ Footer Styles ------------------------------ */

.footer {
   position: fixed;
   left: 0px;
   bottom: 0px;
   height: 40px;
   width: 100%;
   background: #333333;
}

#footer-text {
  color: #FFF;
  text-align: center;
  padding-top: 9px;
}

/* ------------------------------ Button Styles ------------------------------ */

button {
  display: inline-block;
  width: 80px;
  margin: 1px;
}

button.ask {
  width: auto;
  margin-top: 15px;
}

button.navbar-toggle {
  width: auto;
}

button.upvote {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.vote-wrapper {
  text-align: right;
}

/* --------------------------- Answer-list Styles ---------------------------- */

.answer-author {
  font-weight: bold;
}

.question {
  font-weight: bold;
  color: #000;
}

.question-display {
  font-size: 1.5em;
  font-weight: bold;
}

.author-display {
  text-align: right;
  font-weight: bold;
}

.mark-favorite-wrapper button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.mark-favorite-wrapper button:hover {
  background-color: #F0AD4E;
}

.list-group {
  display: -webkit-flex;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.list-group-item {
  text-align: left;
  width: 300px;
  margin: 10px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.9);
}

.list-group-item:last-child {
  margin-bottom: 15px;
}

#edit-prompt {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
  margin-top: 10px;
}

form {
  margin-bottom: 15px;
}

.form-wrapper {
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
}

.checkmark {
  text-align: right;
  color: #f0ad4e;
  font-size: 11px;
}

.posted {
  font-size: 11px;
  font-weight: bold;
}

.button-block {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.btn-lg {
  font-size: 19px;
}
