<div class="container">
  <div class="row">
  <h1> Welcome to Message Board </h1>

    <p>Ask questions.</p>

    <ul class="list-group">
      {{#each model as |question|}}
        {{question-list question=question}}
      {{/each}}
    </ul>

  </div>
</div>
