<div class="container container-centered">
  <div class="row">
  <h1>Message Board</h1>

    {{new-question submitQuestion2="submitQuestion3"}}

    <ul class="list-group">
      {{#each model as |question|}}
        {{question-list question=question edit="edit" destroyQuestion="destroyQuestion"}}
      {{/each}}
    </ul>

  </div>
</div>
