<div class="container">
  <div class="row">
  <h1> Welcome to Message Board </h1>

    <p>Ask questions.</p>

    <ul class="list-group">
      {{#each model as |question|}}
        {{question-list question=question destroyQuestion="destroyQuestion"}}
      {{/each}}
    </ul>

    {{new-question submitQuestion2="submitQuestion3"}}

  </div>
</div>
