<div class="container container-centered">
  <div class="jumbotron">
  <h2>Message Board</h2>

    {{new-question submitQuestion2="submitQuestion3"}}
  </div>
  <div class="row">
    <div class="main-content">
      <ul class="list-group">
        {{#each model as |question|}}
          {{question-list question=question edit="edit" destroyQuestion="destroyQuestion"}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
