<div class="jumbotron jumbotron-fluid">
<h2 class="quote">Curiosity has its own reason for existing.</h2>
<h4 class="quote">-Albert Einstein</h4>

  {{new-question submitQuestion2="submitQuestion3"}}

</div>
<div class="row">
  <div class="main-content">
    <ul class="list-group">
      {{#each model.questions as |question|}}
        {{question-list question=question}}
      {{/each}}
    </ul>
  </div>

  <h2> All Answers </h2>

  <ul>
    {{#each model.answers as |answer|}}
      <li>{{answer.answer}} - by {{answer.author}}</li>
    {{/each}}
  </ul>

</div>
